.fifty-fifty {
  &.is-text-first {
    .fifty-fifty-content {
      @include media-breakpoint-up(md) {
        padding-left: 2rem;
        padding-right: 2rem;
        margin-right: 0;
      }
      @include media-breakpoint-up(xl) {
        padding-left: 0;
        padding-right: 0;
        margin-right: 5.5rem;
      }
    }
  }

  &.is-image-first {
    .fifty-fifty-content {
      @include media-breakpoint-up(md) {
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: 0;
      }
      @include media-breakpoint-up(xl) {
        padding-left: 0;
        padding-right: 0;
        margin-left: 5.5rem;
      }
    }
  }

  &-item {
    padding-left: 30px;
    padding-right: 30px;
  }

  &-content {
    width: 95%;
    padding-top: 2.125rem;
    padding-bottom: 4.5625rem;

    @include media-breakpoint-up(md) {
      width: 100%;
      padding-bottom: 1rem;
      padding-top: 1rem;
    }

    @include media-breakpoint-up(xl) {
      max-width: 31.25rem;
    }

    @include media-breakpoint-up(xxl) {
      max-width: 38.125rem;
    }

    h2 {
      font-family: $font-family-source-serif;
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 30px;

      @include media-breakpoint-up(lg) {
        font-size: 2.25rem;
        font-weight: 600;
        line-height: 45px;
      }
    }

    p {
      font-family: $font-family-source-serif;
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 0.5px;
      line-height: 24px;
      margin-bottom: 2.625rem;

      @include media-breakpoint-up(lg) {
        font-size: 1.25rem;
        letter-spacing: 0.5px;
        line-height: 26px;
        margin-bottom: 1.5625rem;
      }
    }
  }
}
