.newsletter {
  border-radius: 0.625rem;
  overflow: hidden;
  background-color: $yellow;
  min-height: 300px;

  .newsletter-modal & {
    border-radius: 0.3125rem;
  }

  &-cover {
    height: 221px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0;

    .msie & {
      @include media-breakpoint-up(md) {
        min-height: 300px;
      }
    }

    .newsletter-modal & {
      height: 300px;
    }

    &::before {
      content: " ";
      position: absolute;
      height: 100%;
      width: 110%;
      left: -5%;
      bottom: -1px;
      top: auto;
      background: url(../images/graphics/newsletter-curve-h.svg) no-repeat bottom/contain transparent;

      @include media-breakpoint-up(md) {
        left: auto;
        right: -1px;
        bottom: -5%;
        top: -5%;
        height: 110%;
        background: url(../images/graphics/newsletter-curve-v.svg) no-repeat right/contain transparent;
      }

      .newsletter-modal & {
        display: none;
      }
    }

    @include media-breakpoint-up(md) {
      background-size: cover;
      height: inherit;
    }
  }

  &-content {
    padding-bottom: 72px;
    padding-top: 20px;

    @include media-breakpoint-up(md) {
      padding-bottom: 0;
      padding-top: 0;
    }

    .newsletter-modal & {
      padding-bottom: 50px !important; // <---- overides the padding
    }
  }

  &-inner {
    width: 100%;
    max-width: 395px;
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;

      .newsletter-modal & {
        text-align: center;
      }
    }
  }

  &-title {
    font-family: $font-family-cbyg;
    color: #031532;
    font-size: 28px;
    letter-spacing: 0.7px;
    line-height: 50px;

    @include media-breakpoint-up(md) {
      font-size: 2.1875rem;
      letter-spacing: 0.8704px;
      line-height: 50px;
    }
  }

  &-body {
    color: #292929;
    font-size: 0.75rem;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 0.625rem 0;
    margin-bottom: 1.25rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;

      .newsletter-modal & {
        padding-bottom: 1.25rem; // <---- overides the padding
      }
    }
  }

  &-form {
    .btn {
      background-color: $white;
    }

    .input-group {
      margin-bottom: 0;
    }

    .input-group .input-group-btn {
      margin-right: 0.625rem;
    }

    .input-group [type="text"] {
      min-width: auto;
      margin-right: 0.625rem;
      border-radius: 9.375rem;
      border: 1px solid $secondary;

      @include media-breakpoint-up(md) {
        margin-right: 1.25rem;
      }

      .msie & {
        background-size: 22px;
      }
    }

    .input-group.is-invalid+.invalid-feedback {
      display: block;
    }

    form {
      width: 100%;
    }
  }

  .custom-checkbox {
    text-align: left;
    padding-left: 3.125rem;

    @include media-breakpoint-up(md) {
      padding-left: 1.875rem;
    }

    .custom-control-label {
      span {
        margin-left: 0;
      }
    }
  }
}
