.promo-box {
  &-pre-header {
    margin-bottom: 0.125rem;
  }

  &-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.4375rem;

    @include media-breakpoint-up(lg){
      font-size: 1.5rem;
    }
  }

  &-item {
    $i: 0;

    @each $color in $promo-box-colors {
      $i: $i + 1;

      &:nth-child(#{$i}) {
        background-color: $color;
      }

      &,
      &:hover {
        color: $body-color;
        text-decoration: none;
      }
    }

    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  &-item-row {
    padding: 1.875rem 0;
    height: 100%;

    @include media-breakpoint-up(md) {
      padding: 2.1875rem 0;
    }

    .btn-icon {
      background-color: $white;
    }
  }

  &-description {
    font-size: 0.75rem;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 2.4375rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 2.625rem;
    }
  }

  &-image {
    @include aspect-ratio(129, 160);
  }

  &-figure {
    max-width: 100px;
    max-height: 125px;

    @include media-breakpoint-up(xl) {
      max-width: 129px;
      max-height: 160px;
    }
  }
}
