.size-guide {
  margin-bottom: 1.625rem;

  &-image {
    max-width: 16.5rem;
  }

  &-table {
    width: 100%;
    margin-left: 3.4375rem;

    .d-table {
      width: 100%;

      &-cell {
        vertical-align: middle;
        padding: 0 0.75rem;

        &.head {
          font-weight: $font-weight-medium;
        }

        &.size {
          width: 3.125rem;
          padding: 0;
          font-size: 1.25rem;
        }
      }

      &-row {
        &.spacer {
          height: 2.125rem;
        }
      }
    }
  }
}
