.thankyou-details {
  position: relative;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;

  &::after,
  &::before {
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
  }

  .h3 {
    line-height: normal;
    margin-bottom: 1.4375rem;

    @include media-breakpoint-down(md) {
      margin-bottom: 0.625rem;
    }
  }

  &::after {
    background-color: $lightGreen;
    left: 0;
    top: 0;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &::before {
    background-color: $primary;
    right: 0;
    top: 0;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .product-details-inline {
    margin-bottom: 2.1875rem;

    @include media-breakpoint-down(sm) {
      margin-bottom: 3.125rem;
    }
  }

  .summary {
    @include media-breakpoint-up(md) {
      max-width: 19.0625rem;
      margin: 0 auto;
    }

    @include media-breakpoint-up(lg) {
      max-width: 30.3125rem;
    }
  }

  .summary-small {
    @include media-breakpoint-up(md) {
      max-width: 19.25rem;
      margin: 0 auto;
    }

    @include media-breakpoint-up(lg) {
      max-width: 31.375rem;
    }
  }
}

.is-child-full {
  & > iframe {
    width: 100%;
  }
}
