#wpadminbar {
  position: fixed !important;
}

.no-scroll,
.no-scroll body {
  overflow: hidden;
}

img{
  &.lazy{
      transition: opacity .3s ease-in;
      opacity: 0;
      &.loaded{
          opacity: 1;
      }
  }
}
