body {
  -webkit-overflow-scrolling: touch;
}

#wpadminbar {
  position: fixed !important;
}

img{
  &.lazy{
      transition: opacity .3s ease-in;
      opacity: 0;
      &.loaded{
          opacity: 1;
      }
  }
}
