.breadcrumb {
  padding: 0.5625rem 1rem;

  &.is-vertical {
    transform: rotate(90deg);
    transform-origin: center;
  }
}

.breadcrumb-item {
  color: $breadcrumb-active-color;
  letter-spacing: 0.5px;

  &.active {
    color: rgba($body-color, 0.5);
  }
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5625rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 0.6875rem;
}
