// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  color: $body-color;
  font-size: 0.8125rem;
  letter-spacing: 1.86px;
  min-width: 270px;

  &.btn-lg {
    border-radius: $btn-border-radius-lg;
  }

  &.btn-sm {
    font-size: $input-btn-font-size-sm;
    font-weight: normal;
    letter-spacing: 0.5px;

    @include media-breakpoint-up(lg) {
      min-width: 145px;
    }
  }
}

//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @if ($color == "primary") {
      color: $white;

      &:hover {
        color: $body-color;
        background-color: $white;
        border-color: #7e7e7e;
      }
    }
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @if ($color == "primary") {
      border-color: #7e7e7e;
      color: $body-color;

      &:hover {
        color: $white;
      }
    }
  }
}

.btn-icon {
  min-width: auto;
  padding: 0;
  height: 2.0625rem;
  width: 2.0625rem;
  box-shadow: 0 0 0.3125rem 0 rgba($black, 0.1);

  &-sm {
    height: 1.875rem;
    width: 1.875rem;
  }

  &-lg {
    height: 2.5rem;
    width: 2.5rem;
  }

  & > img {
    width: 100%;
  }
}
