.form-control {
  min-width: 300px;
  letter-spacing: 1.86px;

  @include media-breakpoint-up(lg) {
    width: auto;
  }
}

.invalid-feedback {
  font-size: 0.75rem;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 20px;
}
