.size-selector,
.color-selector {
  padding-left: 0;
  margin-left: -0.625rem;
  margin-right: -0.625rem;
  margin-bottom: 0;
  list-style: none;

  @include media-breakpoint-up(lg) {
    margin-left: -0.1563rem;
    margin-right: -0.1563rem;
  }

  @include media-breakpoint-up(xl) {
    margin-left: -0.3125rem;
    margin-right: -0.3125rem;
  }

  .custom-control {
    padding-left: 0;
  }

  .custom-checkbox {
    .custom-control-label {
      width: 3.125rem;
      height: 3.125rem;
      border-radius: 50%;
      border: 0.0625rem solid #e4e4e4;
      cursor: pointer;

      span {
        margin: 0;
      }
    }

    .custom-control-input:disabled ~ .custom-control-label {
      cursor: not-allowed;
    }
  }

  li {
    margin: 0 0.625rem 1.25rem;
    float: left;

    @include media-breakpoint-up(lg) {
      margin: 0.1563rem;
    }

    @include media-breakpoint-up(xl) {
      margin: 0.3125rem;
    }

    &:last-child {
      .custom-control {
        margin-right: 0;
      }
    }
  }
}

// Color Selector
.color-selector {
  .custom-checkbox {
    .custom-control-label {
      border: none;

      &::before {
        display: none;
      }

      &::after{
        display: none;
      }
    }

    .custom-control-label[style*="white"],
    .custom-control-label[style*="#FFFFFF"],
    .custom-control-label[style="#FFF"],
    .custom-control-label[style*="#ffffff"],
    .custom-control-label[style="#fff"],
    .custom-control-label[style="rgb(255, 255, 255)"]     {
      border: 0.0625rem solid $green;
    }

    .custom-control-input:checked ~ .custom-control-label {
      border: 0.125rem solid $white;
      box-shadow: 0 0 0.3125rem 0 rgba($black,0.25);
    }
  }

  .item.is-active {
    pointer-events: none;
  }
}

// Size Selector
.size-selector {
  .custom-checkbox {
    .custom-control-label {
      &::before,
      &::after {
        display: none;
      }

      span {
        @include center(both);

        margin-top: 0;
        font-size: 0.75rem;
        line-height: 1.25rem;
        white-space: nowrap;
      }
    }

    .custom-control-input:checked ~ .custom-control-label {
      background-color: $body-color;
      border: 0.0625rem solid $body-color;

      span {
        color: $white;
      }
    }

    .custom-control-input:disabled ~ .custom-control-label {
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        height: 0.0625rem;
        width: 100%;
        display: block;
        border: none;
        background-image: linear-gradient(to right, #292929 40%, rgba($body-color, 0) 20%);
        background-position: top;
        background-size: 0.1875rem 0.0625rem;
        background-repeat: repeat-x;
        opacity: 0.5;
        transform: translate(-50%, -50%) rotate(225deg);
      }
    }
  }
}
