//
// Section
// --------------------------------------------------
$section-margin:             6.25rem;
$section-margin-touch:       3.125rem;

$section-padding:            6.25rem;
$section-padding-touch:      3.125rem;

$section-margin-sm:          4.375rem;
$section-margin-sm-touch:    2.5rem;

$section-padding-sm:         4.375rem;
$section-padding-sm-touch:   2.5rem;

.section {
  margin-bottom: $section-margin-touch;

  @include media-breakpoint-up(lg) {
    margin-bottom: $section-margin;
  }

  &.has-small-mb {
    margin-bottom: $section-margin-sm-touch;

    @include media-breakpoint-up(lg) {
      margin-bottom: $section-margin-sm;
    }
  }

  &.no-mb {
    margin-bottom: 0;
  }

  &.has-pt {
    padding-top: $section-padding-touch;

    @include media-breakpoint-up(lg) {
      padding-top: $section-padding;
    }
  }

  &.has-small-pt {
    padding-top: $section-padding-sm-touch;

    @include media-breakpoint-up(lg) {
      padding-top: $section-padding-sm;
    }
  }

  &.has-small-pb {
    padding-bottom: $section-padding-sm-touch;

    @include media-breakpoint-up(lg) {
      padding-bottom: $section-padding-sm;
    }
  }
}
